# Add your environment variables below
# NextJS environment variable setup: https://nextjs.org/docs/app/building-your-application/configuring/environment-variables

# NEXT_PUBLIC_VAR="sample-value"
# PRIVATE_VAR="sample-value"

# Mongoose configuration
MONGODB_URI=mongodb://localhost:27017/next-product-site

# Auth security configuration
JWT_SECRET="jwt_secret"
