table {
  width: 60%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th,
td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}
button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  border-radius: 4px;
  width: 38%;
  background-image: none;
  background-color: transparent;
  text-transform: none;
  color: black;
  cursor: pointer;
}
.pagination {
  justify-content: center;
  display: flex;
  align-items: center;
}
.total {
  font-weight: 900;
  color: green;
}
.noOfOrders {
  background-color: #3498db;
}
